{% extends "paginasinicio/base.html" %}
{% load static %}

{% block title %}Agenda del Médico{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container mt-5">
    <h5 class="text-center titulos">Mis Consultas Reservadas</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Sede</th>
                <th>Historial</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.nombre_paciente }}</td>
                <td>{{ reserva.hora_disponible.fecha }}</td>
                <td>{{ reserva.hora_disponible.hora_inicio }}</td>
                <td>{{ reserva.hora_disponible.hora_fin }}</td>
                <td>{{ reserva.medico.sede.nombre }}</td>
                <td class="text-center">
                    <a href="{% url 'historial_paciente_rut' reserva.rut_paciente %}" title="Ver historial">
                        <img src="{% static 'assets/icon/historial.png' %}" alt="Ver historial" style="width:28px; height:28px;">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}