{% extends "paginasinicio/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reserva-styles.css' %}">

<div class="container reserva-form-container text-center" style="max-width: 500px;">
    <h3 class="reserva-titulo">Correo Enviado</h3>
    <p class="text-muted">Si el correo que ingresaste está registrado, recibirás las instrucciones para restablecer tu contraseña en breve.</p>
    <a href="{% url 'iniciarsesion' %}" class="btn btn-success mt-3">Volver a Iniciar Sesión</a>
</div>
{% endblock %}