/* /core/static/css/sesion.css */

/* --- ESTILOS GENERALES PARA PÁGINAS DE SESIÓN Y REGISTRO --- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-section {
    flex: 1; /* Ocupa el espacio disponible, empujando el footer hacia abajo */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px; /* Espacio para el navbar */
    padding-bottom: 4rem;
}

.login-card {
    background: linear-gradient(90deg, #dae9ff, #d7e6dabd);
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

/* --- ESTILOS PARA FORMULARIO DE INICIO DE SESIÓN --- */

#loginForm .form-control {
    border-radius: 12px;
    border: 2px solid #302929;
    padding: 14px;
    font-size: 1rem;
}

/* BOTÓN DE INICIO DE SESIÓN (COLOR VERDE ORIGINAL) */
.btn-login-custom {
    background-color: #60a582; /* Verde agua */
    border-color: #60a582;
    color: #fff;
    border-radius: 12px;
}

.btn-login-custom:hover {
    background-color: #509470;
    border-color: #509470;
}


/* --- ESTILOS PARA FORMULARIO DE REGISTRO --- */

#registerForm .form-control {
    border-radius: 12px;
    border: 2px solid #302929;
    padding: 14px;
    font-size: 1rem;
}

/* BOTÓN DE REGISTRO (COLOR VERDE ORIGINAL) */
.btn-register-custom {
    background-color: #60a582; /* Verde agua */
    border-color: #60a582;
    color: #fff;
    border-radius: 12px;
}

.btn-register-custom:hover {
    background-color: #509470;
    border-color: #509470;
}